
.how-it-works-container{
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.how-it-works-container .data h2{
    font-size: 39px;
    font-weight: 700;
    margin-bottom: 5px;
}

.how-it-works-container .data p{
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #22222280;
}

.how-it-works-container .cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Responsive */
@media(max-width:1200px){
    .how-it-works-container .cards-container{
        flex-direction: column;
        gap: 20px;
    }
}